/*I set the body of the webpage to a font size of 16px with an Open Sans font and a aquamarine background*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: aquamarine;
  text-align: center;
}

/*I center the clock in the center of the webpage with xx-large font and a text color of blue*/
#clock {
  text-align: center;
  color: blue;
  font-size: xx-large;
}

/*I centered in the center of the webpage with xx-large font and an blue violet text color*/
#date {
  text-align: center;
  color: blueviolet;
  font-size: xx-large;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  padding: 0.5em;
  margin-bottom: 0.4em;
  border: 1px solid gray;
  border-radius: 0.5em;

}

.hour {
  background-color: #f4f4f1;
  color: #000000;
  border-top: 1px dashed #000000;
}

/*I set time block in the past to a background color of yellow and text color of white*/
.past {
  background-color: yellow;
  color: white;
}

/*I set time block in the present to a background color of #ff6961 and text color of white*/
.present {
  background-color: #ff6961;
  color: white;
}

/*I set time block in the future to a background color of #77dd77 and text color of white*/
.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}